#quickView {
  position: relative;
  margin-left: 10px;
  width: 40%;
  float: left;
  border: solid;
  border-radius: 16px;
  height: 75vh;
  overflow: auto;
  margin-bottom: 25px;
}

#quickView ul li{
  margin-left: 20px;
}

table {
  float: right;
  width: 50%;
  margin-right: 5%;
}

button {
  width: 100%;
  border: solid red;
  border-radius: 10px;
  color: red;
  padding: 15px;
  background-color: transparent;
}

tr td {
  padding: 0px 10% 5% 0px;
}

#text {
  clear: both;
  margin-bottom: 25px;
  width: 40%;
  text-align:center;
}
