h1{
  font-size: 40px;
  text-align: center;
  color: #EC4427;
}

.form-control label {
  font-size: large;
  color: #EC4427;
  float: inline-start;
}

input[type=text], input[type=password] {
  padding: 12px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  align-self: flex-start;
  display: grid;
  align-items: center;
  justify-items: center;
}

button {
  background-color: #EC4427;
  color: white;
  padding: 15px 20px;
  margin-left: 32%;
  margin-top: 2%;
  border: none;
  cursor: pointer;
  width: 36%;
  border-radius: 10px;
}

span.psw{
  float: left;
  margin-left: 5%;
}

.checkbox {
  float: right;
  margin-right: 5%;
}

.container { 
  margin: 25px auto;
  padding: 20px 0px;
  width: 50%;
  padding: 20px 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #000 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
}

.form-control input:focus, 
.form-control input:valid {
  outline: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span, 
.form-control input:valid + label span {
  transform: translateY(-30px);
}
