* {
  box-sizing:border-box;
  margin:0px;
  padding:0px;
  font-family: 'Roboto', 'Helvetica', and sans-serif;
  scroll-behavior: smooth;   
}

/* Navbar and Logo*/
.nav_bar {
  position: sticky;
  font-size: 20px;
  transition: all .3s ease-in-out;
  z-index: 999;
  font-weight: bold;
  background-color: white;
  border-bottom:0.2px solid rgb(220,220,220);
  top: 0;
  right:0;
  left:0;
  width: 100%;
  height:80px;
}

.nav_bar a:hover {
  color:#F24726;
}

.nav_bar .nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 0;
  transition: all .3s ease-in-out;
}

.nav_list li {
  display: inline;
  text-align: center;
}

.nav_bar .nav_list {
  float: right;
  width:50%;
  padding-right:50px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: nowrap;
  justify-content: center;
  align-items:center;
  justify-content: space-evenly;
}

.nav_list a {
  color: black;
  text-decoration: none;
  padding:7px 15px;
  transition: all .3s ease-in-out;
  text-align: center;
  font-size: 1vw;
} 

.logo {
  float:left;
  width: 30%;
  height:80;
  top:0;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.nav_bar .navbutton {
  color:#F24726;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 6px; 
  border: 2px solid #fba5a8;
}