/** @import url('google font link') **/
* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    font-family: 'Roboto', 'Helvetica', and sans-serif;
    scroll-behavior: smooth;   
}

/* Navbar and Logo*/
.nav_bar {
    position: fixed;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 999;
    font-weight: bold;
    background-color: white;
    border-bottom:0.2px solid rgb(220,220,220);
    top: 0;
    right:0;
    left:0;
    width: 100%;
    height:80px;
}

.nav_bar a:hover {
    color:#F24726;
}

.nav_bar .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
    transition: all .3s ease-in-out;
}
.nav_list li {
    display: inline;
    text-align: center;
  }
  
.nav_bar .nav_list {
    float: right;
    width:50%;
    padding-right:50px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    justify-content: space-evenly;
}

.nav_list a {
    color: black;
    text-decoration: none;
    padding:7px 15px;
    transition: all .3s ease-in-out;
    text-align: center;
    font-size: 1vw;
} 

.logo {
    float:left;
    width: 90%;
    height:80;
    top:0;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav_bar .navbutton {
    color:#F24726;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 6px; 
    border: 2px solid #fba5a8;
}

/* Hero Section */
.hero_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    z-index: 1;
    width: 100%;
    max-width: 1720px;
    padding-right: 50px;
    padding-left: 50px;
}
.hero_content {
    width: 100%;
}
.hero_content h1 {   
    font-size: 62px;
}

.hero_container h2 {
    font-size: 22px;
    font-weight: lighter;
    color: gray;
    margin-top: 2rem;

}
/* Start Button */
.startbtn{
    background-color: #F24726;
    padding: 14px 30px;
    border: 3px solid #fba5a8;
    border-radius: 6px; 
    margin-top: 2rem;
    position: relative;
    transition: all 0.35s;
}

.startbtn a{
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.startbtn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to top, #d669e7 5%, #fba5a8 100%);
    transition: all 0.35s;
 }
.startbtn a:hover{
    color:rgb(252, 255, 254);
}
.startbtn:hover:after {
    width: 100%;
}

/* Demo Button */
.demobtn{
    background-color: #E6E6E6;
    border: 3px solid #bab9b9;
    border-radius: 6px; 
    padding: 14px 30px;
    margin-top: 2rem;
    position: relative;
    left:50px;
    transition: all 0.35s;
}
.demobtn a{
    position: relative;
    z-index: 2;
    color: #808080;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none; 
}
.demobtn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to top, #a7a4be 0%, #141910 120%);
    transition: all 0.35s;
 }
.demobtn a:hover{
    color:white;
}
.demobtn:hover:after {
    width: 100%;
}

.start_free {
    margin-top: 0.5rem;
    font-size: 15px;
    font-weight: lighter;
    color: gray;
}
.main_img_container {
    text-align:center;
}
#home_img {
    height: 120%;
    width: 100%;
}

/* How To Section */
.how_container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 50vh;
    z-index: 1;
}
.how_moto_content h2 {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 35px;
    font-weight:lighter;
    width:100%;
}
.how_moto_content p {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 22px;
    font-weight: lighter;
    color: rgb(87, 86, 86);
    width:100%;
}
.how_moto_content img{
    margin-top:50px;
    width:29vw;
    height:460px;
}
.how_list ol {
    list-style:none;
    width:70%;
    margin-top: 70px;
}
.how_list li {
    font-size: 21px;
    margin-bottom: 35px;
    margin-top: 35px;
    border-bottom: 1px solid #ebebeb;
}
.how_list li span {
    color:#F24726;
    font-weight: bold;
    position:absolute;
    left:-99px;
    text-align:center;
}
.how_list li p{
    font-size: 20px;
    color: black;
    padding-left: 130px;
    line-height: 30px;
    opacity: 0.6;
    align-content: center;
}
/* Counter Section */
.moto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}
.moto p{
    font-size: 28px;
}
.counter_section {
    display:flex;
    align-items:center;
    justify-content:center;
    height:70vh;
    overflow:hidden;
    margin:0;
}
.counter_container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:10px 120px;
}
.counter_container .counter {
    font-size: 55px;
    margin-top:10px;
    color: #F24726;
}
.counter_container span{
    font-size: 20px;
    margin-top:15px;
    color: #f36c51;
}

/* Footer Section */ 
.footer {
    width:100%;
    height:8px;
    border-bottom:0.2px solid rgb(220,220,220);
}
.icon_link {
    color:black;
    font-size:24px;
}
.social_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 90px auto 0 auto;
}
.social_icons {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:240px;
}
.footer_logo .logo {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    float:left;
    margin-left: -5%;
}

